*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    height: 100px;
    width: 100vw;
    text-align: center;
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* body > section > div{
    display: none;
} */


body > section > article > div > form > div > p{
font-size: 35px;
}

body > section > article > div > form{
    line-height: 70px;
}

body > section > div{
    font-size: 30px;
}

body > section > div > p > span{
    font-size: 80px;
    color: #0040ff;
}


body > header > h2{
    font-size: 50px;
}

header,p{
    text-align: center;
}

body > section > article{
    background-color: #0040ff;
    color: white;
}

.que{
    padding: 20px;
}

body > section > article > div.container > form > div > div{
    display: flex;
    align-items: center;
    justify-content: center;
}

body > section > article > div > form > div{
    margin-bottom: 20px;
    line-height: 30px;
}

body > section > article > div > h2{
    text-align: center;
    margin: 50px;
    padding: 20px;
}

body > section > article > div > form > div.text-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

body > section > article > div > form > div.text-center > input{
    padding: 7px;
    background-color: white;
    color: #0040ff;
}
